.container-fluid {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}
.container {
  display: flex;
  padding: 0 16.666667%;

  @media screen and (max-width: 768px) {
    padding: 0 3%;
  }
}
