@import "grid";
@import "fonts";
@import "colors";
@import "interface";

@import "blocks/header";
@import "blocks/growing-box";
@import "blocks/news";
@import "blocks/events";
@import "blocks/holistic-working";

.specialist {
  background-color: #ffeaed;
}
.gallery-box {
  width: 55%;
  max-width: 792px;
  height: 530px;
  margin: 150px auto 210px;
  position: relative;
}
.gallery-box img {
  position: absolute;
}
.gallery-box_item-1 {
  width: 70.5%;
  max-width: 550px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: upDown 3s ease-in-out infinite alternate;
}
.gallery-box_item-2 {
  width: 39.2%;
  max-width: 310px;
  top: 0;
  left: 0;
}
.gallery-box_item-3 {
  width: 33.2%;
  max-width: 262px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.gallery-box_item-4 {
  width: 59%;
  max-width: 467px;
  left: 100px;
  bottom: 0;
}
.gallery-title {
  position: absolute;
  width: 306px;
  padding: 20px;
  right: 80px;
  bottom: 41px;
  background-color: #2effc0;
  transition: all 0.3s ease-in-out;
  font-size: 34px;
  line-height: 42px;
  color: #272727;
  font-weight: 500;
  text-decoration: underline;
}
.gallery-title:hover {
  background-color: #fff572;
}
.membership {
  background-color: #f9f5ef;
  flex-direction: column;
  padding-left: 123px;
  padding-right: 123px;
  padding-bottom: 150px;
}
.membership-container {
  display: flex;
  flex-direction: row;
}
.membership-plans-box-container {
  width: 25%;
  padding: 0 15px;
}
.membership-plans-box {
  background-color: #fff;
  padding: 10px;
  height: 500px;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
