.gallery {
  padding: 0;
}
.gallery-box {
  width: 55%;
  max-width: 792px;
  height: 530px;
  margin: 150px auto 210px;
  position: relative;

  @media (max-width: 1024px) {
    width: 75%;
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 414px) {
    height: 230px;
    margin: 50px auto 210px;
  }
}
.gallery-box img {
  position: absolute;
}
.gallery-box_item-1 {
  width: 70.5%;
  max-width: 550px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: upDown 3s ease-in-out infinite alternate;
}
.gallery-box_item-2 {
  width: 39.2%;
  max-width: 310px;
  top: 0;
  left: 0;
}
.gallery-box_item-3 {
  width: 33.2%;
  max-width: 262px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.gallery-box_item-4 {
  width: 59%;
  max-width: 467px;
  left: 100px;
  bottom: 0;
}
.gallery-title {
  position: absolute;
  width: 306px;
  padding: 20px;
  right: 80px;
  bottom: 41px;
  background-color: $green;
  transition: all 0.3s ease-in-out;
  font-size: 34px;
  line-height: 42px;
  color: #272727;
  font-weight: 500;
  text-decoration: underline;

  &:hover {
    background-color: $yellow;
  }

  @media (max-width: 1024px) {
    bottom: 10.5%;
  }

  @media (max-width: 768px) {
    bottom: 7.5%;
  }

  @media (max-width: 414px) {
    bottom: -50%;
    right: 0;
  }
}
