.specialist {
  display: flex;
  flex-wrap: wrap;
  background-color: $lightPink;
  position: relative;

  // &:after {
  //   background: $white;
  //   content: "";
  //   display: block;
  //   height: 5%;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   transform: skewY(-8deg);
  //   transform-origin: 100%;

  //   @media screen and (max-width: 992px) {
  //     height: 22%;
  //   }

  //   @media screen and (max-width: 425px) {
  //     height: 13%;
  //   }
  // }
}
.specialist-box {
  position: relative;
  padding-top: 100px;
  padding-bottom: 130px;
  height: 3290px;

  @media (max-width: 425px) {
    height: auto;
  }
}
.specialist-person {
  width: 50%;

  @media (max-width: 425px) {
    display: none;
  }
}
.info__img {
  position: absolute;

  @media (max-width: 425px) {
    display: none;
  }
}
.specialist__main-img {
  position: sticky;
  top: 100px;
  left: 17%;
  width: 80%;

  @media (max-width: 425px) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.specialist-person-hide {
  display: none;
  flex: 0 0 100%;
  text-align: center;

  @media (max-width: 425px) {
    display: block;
  }
}
.specialist-info {
  position: absolute;
  right: 1%;
  width: 40%;

  @media (max-width: 425px) {
    position: relative;
    flex: 0 0 100%;
    padding: 0 15px;
  }
}
// blocks
.info-1 {
  top: 850px;

  @media (max-width: 425px) {
    top: auto;
  }
}
.info-2 {
  top: 1800px;

  @media (max-width: 425px) {
    top: auto;
  }
}
.info-3 {
  top: 2800px;

  @media (max-width: 425px) {
    top: auto;
  }
}
// images
.info-1-1 {
  top: 25%;
  left: 25%;
  width: 31.2%;
  max-width: 400px;
}
.info-1-2 {
  top: 20%;
  left: 0%;
  width: 11%;
  max-width: 140px;
}
.info-1-3 {
  top: 50%;
  left: 0%;
  width: 20%;
  max-width: 256px;
}
.info-1-4 {
  top: 1220px;
  left: 50%;
  width: 10%;
  max-width: 128px;
}
.info-2-1 {
  top: 1600px;
  left: 25%;
  width: 21%;
  max-width: 280px;
}
.info-2-2 {
  top: 1800px;
  left: 10%;
  width: 26%;
  max-width: 200px;
}
.info-2-3 {
  left: 21%;
  top: 900px;
  width: 14.2%;
  max-width: 101px;
}
.info-2-4 {
  left: 0%;
  top: 970px;
  width: 27.8%;
  max-width: 212px;
}
.info-2-5 {
  top: 2200px;
  left: 35%;
  width: 11.3%;
  max-width: 90px;
}
.info-3-1 {
  top: 2800px;
  left: 34%;
  width: 38.6%;
  max-width: 300px;
}
.info-3-2 {
  top: 2650px;
  left: 33%;
  width: 7.5%;
  max-width: 40px;
}
.info-3-3 {
  top: 2880px;
  left: 0%;
  width: 8.3%;
  max-width: 40px;
}
.info-3-4 {
  top: 2830px;
  left: 31%;
  width: 5%;
  max-width: 60px;
}
.info-3-5 {
  top: 2930px;
  left: 0%;
  width: 39.7%;
  max-width: 320px;
}
.info-3-6 {
  top: 3000px;
  left: 27%;
  width: 15.5%;
  max-width: 120px;
}
